.idea/
*.iml

.DS_Store

/log/
*.log
/out/
/target/
*.class
*.jar
*.war

.gradle/
build/
!gradle-wrapper.jar
**/build/
/mvnw
/.mvn/
target/

# IntelliJ IDEA проектные файлы и настройки
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml

*.swp
*.swo
*~

/checkstyle-result.xml
/findbugs-result.xml

Thumbs.db
*.stackdump

.vscode/

